body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}
 
.container-hp{
	width: 414px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
}

/*button admin 1 & 2*/
.button-admin a:hover{
	background-color: #b29cdc;
}
/*button admin 1 & 2*/

.sosmed-desk{
	font-weight: 500;
	color: grey;
	font-size: 0.8em;
}

.sosmed-desk:hover{
	color: #b29cdc
}
.eclipse{
	width: 100%;
	top: -20px;
	position: relative;

}

.orang img{
	width: 100px;
			
}

.orang{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 150px;
}

/*nama*/
.orang #customer-name{
	font-size: 1.3em;
}

#customer-title a{
	text-decoration: none;
	color: white;
	font-size: 0.7em;
}

#customer-title{
	margin-top: -0.9em;
}